{% include base_path %}
{% comment %}


  This file renders the wallet badges without modal popups. This is the fallback
  for javascriptless browsers.


{% endcomment %}
{% if post.altTitle %}
  {% assign title = post.altTitle %}
{% else %}
  {% assign title = post.title %}
{% endif %}
{% case post.collection %}
  {% when "android" %}{% assign faCollection = "fab fa-google-play" %}
  {% when "iphone" %}{% assign faCollection = "fab fa-app-store" %}
  {% when "hardware" %}{% assign faCollection = "fas fa-toolbox" %}
  {% when "bearer" %}{% assign faCollection = "fab fa-bitcoin" %}
{% endcase %}
{% assign simpleAppId = post.appId | replace: '.', '' | prepend: post.collection %}
<div class="AppDisplayCard meta_{{ post.meta }}">
  <div>
    <div style="position:relative">
      <div class="flex-r">
        <div class="app_logo">
          {%- if post.icon -%}
            {%- assign icon = base_path | append: '/images/wIcons/'
              | append: post.collection | append:  '/small/'
              | append: post.icon -%}
          {%- else -%}
            {%- assign icon = base_path  | append: '/images/smallNoicon.png' -%}
          {%- endif -%}
          <a href="{{ post.url }}"><img loading="lazy" src="{{ icon }}" class="app_logo" alt="Wallet Logo"></a>
          <i class="platform-logo {{ faCollection }}"></i>
        </div>
        <span class="stamp stamp-{{ post.verdict }}"></span>
      </div>
    </div>
    <div class="app_info_box">
      <strong>{{ title }}</strong>
    </div>
  </div>
</div>